* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

#root {
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(235, 235, 243);
}

.app {
    height: 100%;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.2em;
    background: #d4d7e8;
}

.card {

    
}

.add {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    background-color: #98aef1;
    border-radius: 10px;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: stretch;
    gap: 0.3em;
    padding: 1em;
}

.add * {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    flex-grow: 1;
}

.list {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.item {
    margin-bottom: 1em;
    background-color: rgb(172, 223, 223);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    border-bottom: 1px solid #fff;
}

.Pending {
    background-color: red;
}

.In{
    background-color: orange;
}
.Completed {
    background-color: green;
}
.item button{

    padding: 0.5em 1em;
    cursor: pointer;
    background-color: rgb(77, 124, 71);
    color: #fff;
    border-radius: 5px;}
  
  .add input{
    flex-grow: 1;
  }
  
.add button {
    padding: 0.5em 1em;
    cursor: pointer;
    background-color: rgb(21, 83, 16);
    color: #fff;
    border-radius: 5px;
  }
  
.buttons {
    display: flex;
    gap: 2.8em;
  }

  .progressBtn {
    padding: 0.5em 1em;
    cursor: pointer;
    background-color: rgb(48, 173, 39);
    color: #fff;
    border-radius: 5px;
  }